# Lists

In [1]:
list1 = [1, 2, 43, 5, 44]

In [2]:
# accessing list items - 3 to end
list1[3:]

[5, 44]

In [4]:
#using three values the start, the end and the step size 
#the below code prints the list starting from 0 to 6 and printing every second item.
list1[0:6:2]

[1, 43, 44]

In [5]:
#making list of items from 1 to 100 
myList = list(range(100))

In [6]:
myList[::9]

[0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99]

In [8]:
#negative index means stepping backward 
myList[:: -9]

[99, 90, 81, 72, 63, 54, 45, 36, 27, 18, 9, 1]

In [7]:
#insert item at specified index
myList.insert(3, 'a new value')
print(myList)

[0, 1, 2, 'a new value', 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [9]:
#remove an item from the list 
myList.remove('a new value')

In [11]:
#remove the last item of the list and print that 
myList.pop()

99

# Sets

In [12]:
Sets1  = { 'a', 'b', 'c'}

In [14]:
#sets only store unique values so it can be used to deduplicate the list. This also shows that order doesnt matter in sets 

list1 = ['a', 'b', 'b', 'c', 'c']
list1 = list(set(list1))
list1

['b', 'c', 'a']

In [15]:
Sets1.add('d')
Sets1

{'a', 'b', 'c', 'd'}

In [16]:
Sets1.discard('c')

In [17]:
Sets1

{'a', 'b', 'd'}

# Tuples

In [18]:
#declaring a tuple
Tuple = ('a', 'b', 'c')
Tuple

('a', 'b', 'c')

In [19]:
#when functions returns values separated by column it is in tuple format 
def returnsMultipleValues():
    return 1,2,3

type(returnsMultipleValues())

tuple

In [20]:
#tupples cannot be changed
myTuple[0] = 'd'

NameError: name 'myTuple' is not defined

# List Comprehension

In [21]:
myList = [1,2,3,4,5]
[2*item for item in myList]

[2, 4, 6, 8, 10]

In [27]:
#split function splits based on the values mentioned in paranthesis and if notjhing i smentioned tis the space 
myString = 'My name is Ryan Mitchell. I live in Boston'
myString.split('.')

['My name is Ryan Mitchell', ' I live in Boston']

In [26]:
# using it for filtering through the list
myList = list(range(100))
filteredList = [item for item in myList if item % 10 == 0]
filteredList

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [23]:
#Using it with functions (chaining functions)
# the replace function replaces full stop with a empty spave and then lower case function will make it lower case with lower function()
def cleanWord(word):
    return word.replace('.', '').lower()

[cleanWord(word) for word in myString.split()]

['my', 'name', 'is', 'ryan', 'mitchell', 'i', 'live', 'in', 'boston']

In [24]:
#with if statement 
[cleanWord(word) for word in myString.split() if len(cleanWord(word)) < 3]

['my', 'is', 'i', 'in']

In [25]:
#NESTED COMPREHENSION
[[cleanWord(word) for word in sentence.split()] for sentence in myString.split('.')]

[['my', 'name', 'is', 'ryan', 'mitchell'], ['i', 'live', 'in', 'boston']]

# Dictionary Comprehensions

In [29]:
#Dictionary comprehensions are used to generate dictionaries from iterable structures.
animalss = [('a', 'anaconda'), ('f', 'ferrari'), ('m', 'mouse'), ('d', 'dog')]
animalsss = {i[0]: i[1] for i in animalss}
animalsss

{'a': 'anaconda', 'f': 'ferrari', 'm': 'mouse', 'd': 'dog'}

In [30]:
#taking each pair an dchanging it to the key value pairs of a dictionary 
animalsss = {key: value for key, value in animalss}
animalsss

{'a': 'anaconda', 'f': 'ferrari', 'm': 'mouse', 'd': 'dog'}

In [31]:
#makin a list of the dictionaries 
[{'letter': key, 'name': value} for key, value in animalsss.items()]

[{'letter': 'a', 'name': 'anaconda'},
 {'letter': 'f', 'name': 'ferrari'},
 {'letter': 'm', 'name': 'mouse'},
 {'letter': 'd', 'name': 'dog'}]